{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h6>A little sarcasm never hurt anybody.</h6>
    <p>This site is made for fun. You can post any kind of sarcastic post here unless it's personally directed towards anyone. In general, you can talk about the wrong ongoing things you are not okay with. You can raise your voice and speak up here. It's offends your deep rooted wrong ideas you have been fed since you were a child. Might as well make you renovate your thoughts.</p>
{% endblock content %}